@media(min-width: 992px) {
    .container{
        width: 70% !important;
    }

    div.login-area{
        width: 38%;
        padding: 20px 36px;
    }

    div.footer-login p{
        font-size: 12px !important;
    }
}

@media(min-width: 1130px) {
    div.footer-login p{
        font-size: 15px !important;
    }
}