html.darkMode * {
    --background-color: #333333;
    --body-background: #222222;
    --text-contrast-color: #FFFFFF;
    --text-secondary-color: #e6e6e6;
    --icon-color: #7a7a7a;
    --active-icon:  #EDF6FF;
}