@media(min-width: 992px) {
    header, main, footer {
        width: 80%;
        margin-left: 20%;
        margin-top: 0;
    }

    header {
        margin-top: 30px;
    }

    h2.section-title {
        display: none;
    }

    /* SIDE MENU */

    nav.nav-menu {
        width: 20%;
        height: 100%;
        top: 0;
        left: 0;
        background: white;
    }

    nav.nav-menu div.menu-icons {
        display: none;
    }

    nav.nav-menu div.container {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0;
        visibility: visible;
    }

    nav.nav-menu div.container.hidden {
        visibility: hidden;
    }

    nav.nav-menu div.container.animated {
        animation: up 0.5s normal ease-in-out;
    }

    @keyframes up {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }

    nav.nav-menu div.container div.logo-area {
        display: flex;
        align-items: center;
        height: 80px;
        padding-left: 10px;
    }

    div.menu-area {
        background: white;
        position: relative;
        width: 100%;
        transition: all .2s;
    }

    div.menu-area.hidden {
        visibility: visible;
        opacity: 1;
    }

    ul.menu {
        width: 80%;
        height: 100%;
        padding: 10px 0;
        max-width: 100%;
        width: 100%;
    }    

    ul.menu.hidden {
        margin: 0;
    }

    ul.menu h2 {
        display: none;
    }

    div.menu-area ul.menu li {
        padding: 10px;
        border-radius: 5px;
        height: auto;
        margin: 5px 0;
    }

    div.menu-area ul.menu li:hover{
        cursor: pointer;
        color: var(--main-color);
        background: #f1f1f1;
        transition: all .2s;
    }

    div.menu-area ul.menu li a {
        width: 100%;
    }

    div.menu-area ul.menu li.active {
        background: var(--main-color);
    }

    div.menu-area ul.menu li.active a,
    div.menu-area ul.menu li.active i {
        color: white;
    }

    /* MENU NOTIFICATIONS AREA */

    div.notifications {
        top: 120px;
        right: 4%;
        left: auto;
        margin: 0;
        max-width: 25.21%;
        height: 200px;
        padding: 10px;
    }

    /* HEADER MENU */

    header div.header-icons {
        display: flexbox;
    }

    div.menu-header div.card {
        max-height: 80px;
    }
    
    div.menu-header div.card:first-of-type {
        width: 50%;
    }

    div.menu-header div.card:nth-child(2) {
        width: 35%;
        align-items: center;
    }

    div.menu-header div.card.header-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div.user-area {
        display: flex;
        align-items: center;
    }

    div.user-area div.photo-area {
        max-width: 60px;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    div.photo-area img.photo {
        width: 100%;
        max-width: 60px;
        object-fit: cover;
    }

    div.user-area p {
        margin-left: 10px;
    }

    div.menu-header div.card.header-icons i {
        font-size: 28px;
        margin-top: 2px;
    }

    /* SECTION OVERVIEW */

    section#overview div.container div.card {
        width: 24%;
        flex-wrap: wrap;
    }

    /* RELATÓRIOS */

    div.combo-box {
        width: 93%;
        padding: 20px;
        display: flex;
    }

    select#setor {
        padding: 13px;
        margin-right: 20px;
        width: 23%;
    }

    select#periodo {
        padding: 13px;
        width: 23%;
    }

    button.btn-pdf {
        padding: 13px;
        margin-left: 210px;
        text-decoration: none;
        background: var(--main-color);
        color: #FFF;
        font-size: 13px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
    }

    form#periodo {
        width: 45%;
        display: flex;
    }
    
    label#lbl-periodo{
        text-align: center;
        width: 20%;
    }

    input#date1{
        margin-left: 15px;
        margin-right: 20px;
    }

    input#date2{
        margin-left: 20px;
    }

    label#lbl-periodo2{
        padding-top: 12px;
    }

    /* SECTION CHART */

    section#charts div.container {
        flex-direction: row;
        justify-content: space-between;
    }

    section#charts div.card {
        width: 40%;
        flex-wrap: wrap;
    }    

    section#charts div.card ~ div.card {
        width: 58%;
    }

    section#charts div.card.relat {
        width: 48%;
        flex-wrap: wrap;
    }    

    section#charts div.card.relat ~ div.card.relat {
        width: 48%;
    }

    section div.area-login{
        width: 30%;
    }
    section div.area-img{
        width: 70%;
    }
}


@media(min-width: 992px) and (max-width: 1085px){
    section#overview div.container div.card-monitoramento {
        height: 200px;
    }
}