@media(min-width: 992px) {
    header, main, footer {
        width: 80%;
        margin-left: 20%;
        margin-top: 0;
    }

    header {
        margin-top: 30px;
    }

    h2.section-title {
        display: none;
    }

    /* SIDE MENU */

    nav.nav-menu {
        width: 20%;
        height: 100%;
        top: 0;
        left: 0;
    }

    nav.nav-menu div.menu-icons {
        display: none;
    }

    nav.nav-menu div.container {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0;
        visibility: visible;
    }

    nav.nav-menu div.container.hidden {
        visibility: hidden;
    }

    nav.nav-menu div.container.animated {
        animation: up 0.5s normal ease-in-out;
    }

    @keyframes up {
        from {
            transform: translateY(100%);
        }
        to {
            transform: translateY(0);
        }
    }

    nav.nav-menu div.container div.logo-area {
        display: flex;
        align-items: center;
        height: 80px;
        padding-left: 10px;
    }

    div.menu-area {
        position: relative;
        width: 100%;
        transition: all .2s;
    }

    div.menu-area.hidden {
        visibility: visible;
        opacity: 1;
    }

    ul.menu {
        width: 80%;
        height: 100%;
        padding: 10px 0;
        max-width: 100%;
        width: 100%;
    }    

    ul.menu.hidden {
        margin: 0;
    }

    ul.menu h2 {
        display: none;
    }

    div.menu-area ul.menu li {
        padding: 10px;
        border-radius: 5px;
        height: auto;
        margin: 5px 0;
    }

    div.menu-area ul.menu li:hover{
        cursor: pointer;
        background-color: var(--body-background);
        transition: all .2s;
    }

    div.menu-area ul.menu li:hover a,
    div.menu-area ul.menu li:hover i {
        filter: contrast(1.5);
    }

    div.menu-area ul.menu li a {
        width: 100%;
    }

    div.menu-area ul.menu li.active {
       background-color: var(--body-background);
    }

    div.menu-area ul.menu li.active svg.icon {
        color: var(--active-icon);
    }

    /* MENU NOTIFICATIONS AREA */

    div.notifications {
        top: 120px;
        right: 4%;
        left: auto;
        margin: 0;
        max-width: 25.21%;
        height: 250px;
        padding: 10px;
    }

    /* HEADER MENU */

    header div.header-icons {
        display: flexbox;
    }
    
    div.menu-area {
        background: none;
    }

    div.menu-header div.card {
        max-height: 90px;
    }
    
    div.menu-header div.card:first-of-type {
        width: 50%;
    }

    div.menu-header div.card:nth-child(2) {
        width: 35%;
        align-items: center;
    }

    div.menu-header div.card.header-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div.user-area {
        display: flex;
        align-items: center;
    }

    div.user-area div.photo-area {
        max-width: 60px;
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    div.photo-area img.photo {
        width: 100%;
        max-width: 60px;
        object-fit: cover;
    }

    div.user-area p {
        margin-left: 10px;
    }

    div.menu-header div.card.header-icons i {
        font-size: 28px;
        margin-top: 2px;
    }

    /* SECTION OVERVIEW */

    section#overview div.container div.card {
        width: 24%;
        flex-wrap: wrap;
    }

    /* RELATÓRIOS */

    button.btn-pdf {
        background-color: var(--main-color);
        padding: 13px;
        margin-left: 210px;
        text-decoration: none;
        color: #FFF;
        font-size: 13px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
    }

    form.filter {
        max-width: 48.2%;
        flex-direction: row;
    }

    form.filter div.area-filter {
        min-width: 42%;
    }

    form.filter div.margin {
        margin: 0 !important; 
    }
    

    /* SECTION CHART */

    section#charts div.container {
        flex-direction: row;
        justify-content: space-between;
    }

    section#charts div.card {
        width: 40%;
        flex-wrap: wrap;
    }    

    section#charts div.card ~ div.card {
        width: 58%;
    }

    section#charts div.card.relat {
        width: 48%;
        flex-wrap: wrap;
    }    

    section#charts div.card.relat ~ div.card.relat {
        width: 48%;
    }

    section div.area-login{
        width: 30%;
    }
    section div.area-img{
        width: 70%;
    }

    .switch {
        width: 70px;
        margin: 0;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
        transform: translateX(120%);
      }
}


@media(min-width: 992px) and (max-width: 1085px){
    section#overview div.container div.card-monitoramento {
        height: 200px;
    }

    section#overview div.container div.area-filter {
        height: 40px;
    }
}