* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    outline: none;
    --main-color: #5E72E4;
    --main-color-dark: #172B4D;
    /* --main-color-op: #ff38358e; */

    --background-color: #FFFFFF;
    --body-background: #F4F4F4;
    --text-constrast-color: #363636;
    --text-secondary-color: #2e2e2e;
    --text-light-color: rgb(194, 194, 194);
    --icon-color: #2e2e2e;
    --active-icon:  #a9d4ff;
}

/* DEFININDO PADRÕES DE CORES PRINCIPAIS */

.content-area {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-contrast-color);
}

p, span, a {
    color: var(--text-secondary-color);
}

svg.icon {
    color: var(--icon-color);
    font-size: 20px;
}

svg.first-icon { color:#5E72E4; }
svg.second-icon { color:#F85353; }
svg.third-icon { color:#F8C953; }
svg.fourth-icon { color:#37d175; }
svg.fifth-icon { color: #9533f1; }

a:hover {
    filter: contrast(3.0);
}

/*------------------*/

body {
    background: linear-gradient(var(--main-color) 50%, var(--body-background) 50%);
}


header, footer {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2.section-title {
    font-size: 28px;
    width: 90%;
    margin-bottom: 20px;
}


div.container {
    width: 90%;
}

section div.container {
    display: flex;
    flex-direction: column;
}

/* MENU */

nav.nav-menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    height: 70px;
    box-shadow: 0 15px 20px 0 rgba(88,91,96,.1);
}

nav.nav-menu div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.menu-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    max-width: 200px;
}

div.menu-icons img.photo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

div.menu-icons i {
    font-size: 28px;
    margin-left: 10px;
}

button.btnMenu{
    width: 50px;
    height: 50px;
    outline: none;
}

div.card {
    padding: 15px;
    
    box-shadow: 0 15px 20px 0 rgba(88,91,96,.1);
}

div.menu-area {
    position: fixed;
    background:rgba(34, 34, 34, 0.562);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: all .2s;
}

div.menu-area.hidden {
    opacity: 0;
    visibility: hidden;
}

ul.menu {
    width: 80%;
    height: 100%;
    padding: 20px 15px;
    margin-left: 0;
    transition: all .2s;
    max-width: 300px;
}

ul.menu.hidden {
    margin-left: -100%;
}

div.menu-area ul.menu li {
    list-style: none;
    margin-top: 20px;
    display: flex;
    height: 30px;
    align-items: center;
}

div.menu-area ul.menu li i {
    font-size: 26px;
}

div.menu-area ul.menu li a {
    text-decoration: none;
    margin-left: 15px;
    transition: all .2s;
}

div.menu-area ul.menu li a.current {
    color: var(--main-color);
}

/* MENU NOTIFICATIONS AREA */

button.btnNotifications {
    border: none;
    background: none;
    outline: none;
}

div.notifications {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
    width: 90%;
    padding: 10px;
    box-shadow: 0 15px 20px 0 rgba(88,91,96,.1);
    opacity: 1;
    visibility: visible;
    transition: all .2s;
}

div.notifications div.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.notifications.hidden {
    opacity: 0;
    visibility: hidden;
}

div.notifications p {
    text-align: center;
    font-size: 18px;
}

/* MENU HEADER */

header {
    margin: 110px 0 40px 0;
}

div.menu-header {
    display: flex;
    justify-content: space-between;
}

div.menu-header div.card.header-icons {
    display: none;
}

div.menu-header div.card {
    padding: 15px;
    display: flex;
}

div.menu-header div.card:first-of-type {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}


div.menu-header p {
    margin-top: 5px;
}

/* SECTION OVERVIEW */

section#overview div.card {
    margin: 12px 0;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transition: all .5s;
}

section#overview div.card.opacity {
    opacity: 0;
}

section#overview div.card h2.card-number {
    font-size: 45px;
}

section#overview div.card div.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#overview div.card div.card-footer a {
    text-decoration: none;
    color: cornflowerblue;
}

section#overview div.card div.card-footer i {
    font-size: 32px;
}

/* MONITORAMENTO */


section#overview div.container div.area-filter{
    height: 40px;
    padding: 0;
    position: relative;
    z-index: 1;
}

section#overview div.container div.area-filter .icon-filter{
    position: absolute;
    right: 5px;
    top: 7px;
    color: var(--text-color);
}

section#overview div.container div.area-filter .group-filter{
    width: 100%;
    height: 100%;
    border: 1px solid #d1d1d1;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-sizing: border-box;
    padding: 0 10px;
}

section#overview div.container div.area-filter select.group-filter{
    -webkit-appearance: none;
    -moz-appearance: none;
    color: var(--text-color);
}

section#overview div.container div.area-filter button.group-filter{
    background: var(--main-color-dark);
    color: white;
    border: 0;
    cursor: pointer;
} 

section#overview div.card-monitoramento{
    height: 190px;
}

section#overview div.card-configuracoes{
    height: 300px;
}

section#overview div.card p.information {
    font-size: 14px;
    margin: 5px 0;
}

svg.icon-check {
    color: rgb(100, 237, 111);
}

svg.icon-warn {
    color: rgb(237, 100, 100);
}

span.icon-computer svg,
svg.icon-info {
    color: cornflowerblue;
}

span.icon-computer,
span.modal-close {
    cursor: pointer;
}

.modal-computer{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.61);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    z-index: 100;
}


.modal-close svg.icon {
    color: #F85353 !important;
}

.displayNone{
    visibility: hidden;
    opacity: 0;
}

div.box{
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.07);
    position: relative;
    box-sizing: border-box;
    padding-bottom: 20px;
}

div.box.details {
    height: 90%;
}

div.box.details form.form div.container-modal div.form-group div.input-area .icon{
    background: none;
}

div.box div.box-header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f4f4f4;
}

div.container-modal{
    width: 90%;
    display: flex;
    align-items: center;
}

div.box div.box-header div.container-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 0 0 0;
}

.subject .container-modal p{
    font-size: 12px;
    color: var(--text-light-color);
}

form.form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.box form.form div.container-modal{
    flex-direction: column;
}

div.box form.form div.container-modal div.form-group{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

div.box form.form div.container-modal div.form-group label{
    font-size: 14px;
    color: var(--text-secondary-color);
}

div.box form.form div.container-modal div.form-group div.input-area{
    width: 100%;
    height: auto;
    position: relative;
}

div.box form.form div.container-modal div.form-group div.input-area .icon{
    position: absolute;
    right: 15px;
    top: 19px;
    color: #a8a8a8;
    font-size: 14px;
    background: white;
}

div.box form.form div.container-modal div.form-group input, 
div.box form.form div.container-modal div.form-group button{ 
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    margin-top: 4px;
    padding: 0 10px;
    outline: none;
}

div.box form.form div.container-modal div.form-group input:focus{
    border: 2px solid var(--main-color-dark);
}

div.box form.form div.container-modal div.form-group button{
    background: var(--main-color);
    color: white;
    border: 0;
}

div.box form.form div.container-modal div.form-group .clean{
    background: #F85353;
}

div.box form.form div.container-modal div.btn{
    width: 100%;
}

div.box form.form div.container-modal div.btn button{
    width: 100%;
}

.separator{
    width: 100%;
    height: 1px;
    margin: 20px 0 0 0;
    background: var(--text-light-color);
}





/* RELATÓRIOS */

form.filter {
    max-width: 100%;
    flex: 1;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h3.filter-title {
    width: 100%;
}

h3.filter-title, form.filter label {
    color: #FFFFFF;
}

form.filter div.area-filter {
    min-width: 100%;
}

label#lbl-periodo2 {
    height: 20px;
}


/* CHART SECTIONS */
section#charts div.card { 
    margin: 12px 0;
    transform: translateY(0);          
    opacity: 1;
    transition: all .5s;
}

section#charts div.card.opacity {
    transform: translateY(10px);          
    opacity: 0;
}

div.chart-area {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin: 15px 0;
    background: var(--body-background);
}

ul.ul-legend {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.ul-legend li {
    margin-top: 10px;
    width: 48%;
    list-style: none;
    display: flex;
}

div.legend-color {
    width: 30px;
    height: 15px;
    margin-right: 10px;
}

ul.ul-legend li:nth-child(1) div.legend-color {
    background: rgb(255, 99, 132);
}

ul.ul-legend li:nth-child(2) div.legend-color {
    background:rgb(54, 162, 235);
}

ul.ul-legend li:nth-child(3) div.legend-color {
    background: rgb(255, 205, 86);
}


/* FOOTER */

footer {
    margin-top: 20px;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
}

@keyframes teste {
    from {
        transform: translateY(20px);          
        opacity: 0;
    }
    to {
        transform: translateY(0);          
        opacity: 1;
    }
}


/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    margin-left: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b9b9;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--main-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(150%);
    -ms-transform: translateX(150%);
    transform: translateX(150%);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* ------------------------------------ */

.infouser-area{
    width: 100%;
    height: auto !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 20px !important;
}

.container-card{
    width: 80%;
    height: auto;
}

.infouser-area .user-header{
    width: 100%;
    height: 230px;
    background: linear-gradient(purple 50%, white 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-img{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 4px solid white;
    background: url(../img/user.svg);
    background-size: cover;
}


.user-area{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-area button{
    width: 30%;
    height: 30px;
    background: var(--main-color);
    color: white;
    border: 0;
    border-radius: 3px;
}

.user-btn .btn-rigth{
    background: var(--main-color-dark);
}

.user-action{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-information{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-information h3{
    margin-bottom: 10px;
    color: var(--text-secondary-color);
}

.user-information p{
    margin-bottom: 25px;
    color: var(--text-constrast-color);
}

.user-information h5{
    margin-bottom: 5px;
    color: var(--text-constrast-color);
}

.user-group{
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
}

.user-group .box{
    width: 100%;
}