* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #FF3A35;
    --main-color-op: #ff38358e;
    --title-color: #363636;
    --subtitle-color: #666666;
    --text-color: #747e88;
    --icon-color: rgb(66, 66, 66);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}

body {
    background: #F4F4F4;
}

header, footer {
    display: flex;
    justify-content: center;
}

section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2.section-title {
    font-size: 28px;
    width: 90%;
    margin-bottom: 20px;
}


div.container {
    width: 90%;
}

section div.container {
    display: flex;
    flex-direction: column;
}

/* MENU */

nav.nav-menu {
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    display: flex;
    justify-content: center;
    height: 70px;
    box-shadow: 0 15px 20px 0 rgba(88,91,96,.1);
}

nav.nav-menu div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.menu-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    max-width: 200px;
}

div.menu-icons img.photo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
}

div.menu-icons i {
    font-size: 28px;
    margin-left: 10px;
    color: var(--icon-color);
}

button.btnMenu{
    width: 50px;
    height: 50px;
    outline: none;
}

div.card {
    padding: 15px;
    background: white;
    box-shadow: 0 15px 20px 0 rgba(88,91,96,.1);
}

div.menu-area {
    position: fixed;
    background:rgba(34, 34, 34, 0.562);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: all .2s;
}

div.menu-area.hidden {
    opacity: 0;
    visibility: hidden;
}

ul.menu {
    background: white;
    width: 80%;
    height: 100%;
    padding: 20px 15px;
    margin-left: 0;
    transition: all .2s;
    max-width: 300px;
}

ul.menu.hidden {
    margin-left: -100%;
}

div.menu-area ul.menu li {
    list-style: none;
    margin-top: 20px;
    display: flex;
    height: 30px;
    align-items: center;
}

div.menu-area ul.menu li i {
    font-size: 26px;
    color: var(--icon-color);
}

div.menu-area ul.menu li a {
    text-decoration: none;
    margin-left: 15px;
    color: var(--text-color);
    transition: all .2s;
}

div.menu-area ul.menu li a.current {
    color: var(--main-color);
}

/* MENU HEADER */

header {
    margin: 110px 0 10px 0;
}

div.menu-header {
    display: flex;
    justify-content: space-between;
}

div.menu-header div.card.header-icons {
    display: none;
}

div.menu-header div.card {
    padding: 15px;
    display: flex;
}

div.menu-header div.card:first-of-type {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

div.menu-header span {
    color: #2c2c2cd0;
}

div.menu-header p {
    margin-top: 5px;
    color: var(--subtitle-color);
}

/* SECTION OVERVIEW */

section#overview div.card {
    margin: 12px 0;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transition: all .5s;
}

section#overview div.card.opacity {
    opacity: 0;
}

section#overview div.card h2.card-number {
    font-size: 45px;
}

section#overview div.card div.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#overview div.card div.card-footer a {
    text-decoration: none;
    color: cornflowerblue;
}

section#overview div.card div.card-footer i {
    font-size: 32px;
}

/* MONITORAMENTO */

section#overview div.card-monitoramento{
    height: 180px;
}

section#overview div.card p.information {
    font-size: 14px;
    margin: 5px 0;
}

i.icon-check {
    color: rgb(100, 237, 111);
}

i.icon-warn {
    color: rgb(237, 100, 100);
}

i.icon-computer {
    color: cornflowerblue;
}

/* CHART SECTIONS */
section#charts div.card { 
    margin: 12px 0;
    transform: translateY(0);          
    opacity: 1;
    transition: all .5s;
}

section#charts div.card.opacity {
    transform: translateY(10px);          
    opacity: 0;
}

div.chart-area {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin: 15px 0;
    background: #e3e3e3;
}

ul.ul-legend {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.ul-legend li {
    margin-top: 10px;
    width: 48%;
    list-style: none;
    display: flex;
}

div.legend-color {
    width: 30px;
    height: 15px;
    margin-right: 10px;
}

ul.ul-legend li:nth-child(1) div.legend-color {
    background: rgb(255, 99, 132);
}

ul.ul-legend li:nth-child(2) div.legend-color {
    background:rgb(54, 162, 235);
}

ul.ul-legend li:nth-child(3) div.legend-color {
    background: rgb(255, 205, 86);
}

/* FOOTER */

footer {
    margin-top: 20px;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
}

@keyframes teste {
    from {
        transform: translateY(20px);          
        opacity: 0;
    }
    to {
        transform: translateY(0);          
        opacity: 1;
    }
}