@media(min-width: 520px) {
    section#overview div.container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section#overview div.container div.card {
        width: 48%;
    }

    section div.area-login{
        width: 40%;
    }
    section div.area-img{
        width: 60%;
        height: 100%;
        background: var(--main-color);
        transition: all .6s;
    }

    .expand{
        width: 100%;
    }
    
    .decrease{
        width: 0%;
    }
    
    section#overview div.container div.group-input{
        display: flex;
    }

    section#overview div.container div.group-input .filters{
        width: 24%;
    }

    section#overview div.container div.group-input .filters{
        margin-right: 11.5px;
    }

    form.filter {
        max-width: 48%;
    }

    form.filter div.margin{
       margin-bottom: 32px !important;
    }

    .infouser-area{
        width: 49% !important;
        height: 500px !important;
        order: 3;
    }

    .user-group{
        width: 49% !important;
        height: auto !important;
        order: 2;
    }
    
    .user-group .box{
        width: 100% !important;
        height: auto !important;
    }

    div.box h3.tab-modal {
        width: 48%;
    }
}


@media(min-width: 767px){
    div.box{
        width: 50% !important;
        height: 62%;
        overflow: hidden;
    }
    
    div.box form.form div.container-modal{
        flex-direction: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    div.box form.form div.container-modal div.form-group{
        width: 46%;
    }
    
    div.box form.form div.container-modal div.btn{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    div.box form.form div.container-modal div.btn button{
        width: 46%;
    }  

    /* ------------------------ */

    .infouser-area{
        width: 30% !important;
        height: 500px !important;
        order: 3;
    }

    .user-group{
        width: 68% !important;
        height: auto !important;
        order: 2;
    }
    
    .user-group .box{
        width: 100% !important;
        height: auto !important;
    }
    
}
