@media(min-width: 520px) {
    section#overview div.container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section#overview div.container div.card {
        width: 48%;
    }

    section div.area-login{
        width: 40%;
    }
    section div.area-img{
        width: 60%;
        height: 100%;
        background: var(--main-color);
        transition: all .6s;
    }

    .expand{
        width: 100%;
    }
    
    .decrease{
        width: 0%;
    }
    
}