*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.cabecalho{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 3% 4%;
    position: fixed;
    background: #ffffff;
}

.logo{
    float: left;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnMenu{
    float: right;
    width: 56px;
    height: 56px;
    text-align: right;
    background: transparent;
    border: 0;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

section#home .container{
    width: 92%;
    box-sizing: border-box;
    padding-top: 122px;
}

.content-text h3{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    color: #363636;
}

.content-text p{
    font-size: 17px;
    color: #666666;
    margin: 0 0 24px;
    font-weight: 300;
    margin-top: 30px;
}

.content-text button{
    height: 55px;
    width: 180px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    line-height: 55px;
    color: white;
    border: 0;
    margin-top: 30px;
    background: -webkit-linear-gradient(left,#fe8464 0%,#fe6e9a 50%,#fe8464 100%);
    background: -o-linear-gradient(left,#fe8464 0%,#fe6e9a 50%,#fe8464 100%);
    background: linear-gradient(to right,#fe8464 0%,#fe6e9a 50%,#fe8464 100%);
    -webkit-box-shadow: 0 3px 6px 0 rgba(112,112,112,.44);
    -moz-box-shadow: 0 3px 6px 0 rgba(112,112,112,.44);
    box-shadow: 0 3px 6px 0 rgba(112,112,112,.44);
}

.img-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 0;
}

.img-home img{
    width: 100%;
}

/* ABOUT */

section#about {
    margin-top: 150px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
}

section#about img {
    width: 100%;
}

section#about div.container {
    margin: 0 8px 0 8px;
}

section#about p#subtitle {
    font-size: 12px;
    color: #666666;
    margin: 0 0 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

section#about div.divider {
    background: #FFA949;
    margin: 4px 0 21px;
    width: 85px;
    height: 2.5px;
}

section#about h2#title {
    font-size: 25px;
    color: #151515;
    margin: 0 0 16px;
}

section#about p#text {
    font-size: 17px;
    color: #666666;
    margin: 0 0 24px;
    font-weight: 300;
}

section#about button#button {
    background: #FFA949;
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    width: 150px;
}

/* GALLERY */

section#gallery .container{
    width: 92%;
    box-sizing: border-box;
    padding-top: 122px;
}

section#gallery .container h4{
   font-weight: 100;
   padding-bottom: 10px;
   color: #f14836;
}

section#gallery .container .itens-filter{
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

section#gallery .container .itens-filter p{
    color: #666666;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 0;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.itens-gallery{
    width: 100%;
    height: 900px;
    box-sizing: border-box;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large{
    width: 100%;
    height: 58%;
    background: #FFA949;
    border-radius: 10px;
}

.small{
    width: 100%;
    height: 38%;
    background: rgb(49, 197, 62);
    border-radius: 10px;
}


.img-gallery{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


