@media(min-width: 575px){
    .cabecalho .container, .container, .menu{
        width: 80%;
    }
    .menu{
        left: 10%;
    }
}

@media(min-width: 767px){
    .cabecalho .container, .container, menu{
        width: 80%;
    } 
    .menu{
        left: 10%;
    }
    .content-text h3{
        font-size: 42px;
        line-height: 3.5rem;
    }

    div.services-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    div.service {
        width: 48%;
    }

    div.gallery{
        height: 240vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    div.gallery .img-gallery{
        width: 47%;
        height: fit-content;
        flex: 0 0 0;
    }

    div.member {
        display: flex;
        height: 180px;
    }

    div.member img {
        max-width: 30%;
        max-height: 100%;
    } 

    div.member-info {
        height: 100%;
    }
    
}